
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet1.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="Header">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("LogOut", "Method", "Controller")</li>*@
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                <li><img src="~/Content/Images/logo_white-blue.png"></li>
                <div class="Title">
                    E@T
                </div>
                <a href="https://www.w3schools.com/css/css_howto.asp">Logout</a>
            </div>
            <footer class="Footer">
                © 2020 EPAM Systems, Inc. All Rights Reserved
            </footer>
</body>
</html>
