<!DOCTYPE html>
<html>
<head>
    <link href="~/StyleSheet1.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li><img src="~/Content/Images/logo_white-blue.png"></li>
                <li><div class="Title"> E@T</div></li> 
                <li><a href="https://www.w3schools.com/css/css_howto.asp">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>